.zig-cache*
zig-out
bench_*

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
dist/
build/
*.egg
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Virtual environments
venv/
.env/
.venv/

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~